<br>
<div class="jumbotron" style="padding:30px; background-color: #002b7f; color: #FFFFFF; height: auto; width: auto;">
<h1 class="display-3" id="heading">SERVICES & BUSINESSES PROMOTION   •
JOBS OFFERED – JOBS NEEDED<h1>
<h3 class="display-4" id="heading">TOGETHER UNITED FOR BETTER</h3>
</div>


<div class="container-fluid">
  <div class="px-lg-5">

    <!-- For demo purpose -->
    <div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner">
          <h1 class="display-4">PROMOTE YOUR SERVICE ON THIS PAGE</h1>
          <p class="lead">Select a category from the list below</p>
          </p>
        </div>
      </div>
    </div>
    <!-- End -->

    <div class="row">
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-1.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Elena Cristea, MBA, EA</a></h5>
            <p class="small text-muted mb-0">Business filings, Accounting, Income Tax, Payroll, Health Insurance Services, helping businesses, individuals and non-profit organizations.</p>
            <br>
            <p class="small text-muted mb-0">Ridgefield CT 06877</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Contact: ecristeact@gmail.com, (203)942-4172</span></p>
            </div>
            <div class="badge badge-danger px-3 rounded-pill font-weight-normal">ACCOUNTING AND BOOKKEEPING</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/Antonia_reclama-1024x436.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Blorange</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>
            </div>
            <div class="badge badge-danger px-3 rounded-pill font-weight-normal">ACCOUNTING AND BOOKKEEPING</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/Mimi-png.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">And She Realized</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
            </div>
            <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">ARTS & MUSIC</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/viorica-2-1024x570.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">DOSE Juice</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPEG</span></p>
            </div>
            <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">ARTS & MUSIC</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/Adi_BC_112020-2.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Pineapple</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>
            </div>
            <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">ARTS & MUSIC</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-6.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Luiza Budea, Artist</a></h5>
            <p class="small text-muted mb-0">www.rpacgallery.com/luiza-budea
https://luizabudea.com
www.instagram.com/luiza_budea
https://byzantineicons.site</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">citypaintings@gmail.com</span></p>
            </div>
            <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">ARTS & MUSIC</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/elementor/thumbs/byzantine-ozeh50vbld3mefd0xhym9wi34s7v5ndorlvha37pto.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Teal Gameboy</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPEG</span></p>
            </div>
            <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">ARTS & MUSIC</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/Naghi.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">John Naghi</a></h5>
            <p class="small text-muted mb-0">Mail: P.O. Box 1134, Fairfield, CT, 06825 </p>
            <p class="small text-muted mb-0">www.officetocloud.com</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">(203)564-9644</span></p>
            </div>
            <div class="badge badge-info px-3 rounded-pill font-weight-normal text-white">COMPUTER SUPPORT</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/dobrita.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
            </div>
            <div class="badge badge-primary px-3 rounded-pill font-weight-normal text-white">DENTISTS & DOCTORS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/Cirtu-1024x582.jpeg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>
            </div>
            <div class="badge badge-primary px-3 rounded-pill font-weight-normal">DENTISTS & DOCTORS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/amerodental.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
            </div>
            <div class="badge badge-primary px-3 rounded-pill font-weight-normal text-white">DENTISTS & DOCTORS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/12/SilviuBC-1024x609.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPEG</span></p>
            </div>
            <div class="badge badge-primary px-3 rounded-pill font-weight-normal">DENTISTS & DOCTORS</div>
          </div>
        </div>
      </div>
      <!-- End -->

       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/alinas.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Luiza Budea, Artist</a></h5>
            <p class="small text-muted mb-0"></p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"></span></p>
            </div>
            <div class="badge badge-success px-3 rounded-pill font-weight-normal text-white">FOOD & RESTAURANTS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/cafe-transilvania.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Christian & Alina Caldarariu, Owners</a></h5>
            <p class="small text-muted mb-0">Café Transilvania in Fairfield CT, offering Romanian American cuisine</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">info@cafetransilvania.com</span></p>
            </div>
            <div class="badge badge-success px-3 rounded-pill font-weight-normal">FOOD & RESTAURANTS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/villa-louisa-bussines-cards--768x450.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark"></a></h5>
            <p class="small text-muted mb-0"></p>
            <p class="small text-muted mb-0"></p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"></span></p>
            </div>
            <div class="badge badge-success px-3 rounded-pill font-weight-normal text-white">FOOD & RESTAURANTS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/alexandra.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
            </div>
            <div class="badge badge-success px-3 rounded-pill font-weight-normal">FOOD & RESTAURANTS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/eurogrocery-768x441.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>
            <p class="small text-muted mb-0">Eurogrocery imports specialty foods from Romania and the Balkan countries. Free shipping for orders over $149.</p>
            <p class="small text-muted mb-0">New: 2162 Silas Deane Hwy Suite B, Rocky Hill, CT 06067</p>
            <p class="small text-muted mb-0">3670 East Main St, Waterbury CT 06705</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">www.eurogrocery.shop</span></p>
            </div>
            <div class="badge badge-success px-3 rounded-pill font-weight-normal">FOOD & RESTAURANTS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/elementor/thumbs/silvias-oz0ai1lk59kydhqttt7e9tmxhzown5tya7al092wvk.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
            </div>
            <div class="badge badge-success px-3 rounded-pill font-weight-normal text-white">FOOD & RESTAURANTS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/dreamkitchen-150x150.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>
            <p class="small text-muted mb-0">We sell and install Kitchen Cabinets, Bathroom Vanities, Granite, Quartz and Marble Countertops, Faucets, Sinks, Tile & more. Free Estimate. Free 3D designs.</p>
            <p class="small text-muted mb-0">Address: 3636 Main St, Stratford, CT 06614.</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Phone (203)302-0528</span></p>
            </div>
            <div class="badge badge-secondary px-3 rounded-pill font-weight-normal">HOME IMPROVEMENT</div>
          </div>
        </div>
      </div>
      <!-- End -->




     <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/fullhome2.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
            <p class="small text-muted mb-0">Painting services: commercial, residential.  Wallpaper removal, Sheet rock installation more.</p>
            <p class="small text-muted mb-0">Email: fullhomesolution1@yahoo.com</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Phones: (203)524-520; (203)335-8798</span></p>
            </div>
            <div class="badge badge-secondary px-3 rounded-pill font-weight-normal">HOME IMPROVEMENT</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/Cirtu-1024x582.jpeg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">HONORARY CONSULATE OF ROMANIA IN CONNECTICUT</a></h5>
            <p class="small text-muted mb-0">Head of mission
Dana Bucin, Honorary Consul</p>
<p class="small text-muted mb-0">E-mail: dana@ctroconsul.org</p>
<p class="small text-muted mb-0">Honorary Consulate of Romania
c/o Murtha Cullina LLP, 185 Asylum Street
29th Floor
Hartford, Connecticut 06103
USA</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Telephone: 860-240-6081</span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: blueviolet;">HONORARY CONSULATE</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/world-line.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: brown;">INTERNATIONAL SHIPPING</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/danabucin-1024x736.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPEG</span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: coral;">LAW & LEGAL SERVICES</div>
          </div>
        </div>
      </div>
      <!-- End -->

       <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/alinas.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">BecomingME</a></h5>
            <p class="small text-muted mb-0">Leadership training for kids</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Cameliabruckel@gmail.com</span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: darkorange;">PERSONAL DEVELOPMENT</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/OD-Ad-Romanian-copy-1024x583.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Christian & Alina Caldarariu, Owners</a></h5>
            <p class="small text-muted mb-0">Victor Dorobantu, v@otherdesigns.com</p>
            <p class="small text-muted mb-0">400 Chapel Road #3B South Windsor, CT 06074</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">860.515.8423</span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: deeppink;">PRINTING AND GRAPHIC DESIGN</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/fraiko.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark"></a></h5>
            <p class="small text-muted mb-0"></p>
            <p class="small text-muted mb-0"></p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"></span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: goldenrod;">MECHANICS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/Screenshot_2020-11-26-About-Iulia-Booth-1024x223.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Iulia Booth</a></h5>
            <p class="small text-muted mb-0">Real estate agent with eXp Realty in Stamford, CT. </p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Direct: 203.308.1107;  Office: 866.828.3951; </span></p>
            </div>
            <div class="badge badge-dark px-3 rounded-pill font-weight-normal text-white">REAL ESTATE</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/teorotaru-300x101.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Teodora Rotaru</a></h5>
            <p class="small text-muted mb-0">Commercial and Residential real estate services, home sales and purchases, business location lease, purchase and sale, real estate investment opportunities and counseling.</p>
            <p class="small text-muted mb-0">Address: 85 Felt Rd, Ste 504, South Windsor, CT 06074</p>
            <p class="small text-muted mb-0">teo.rotaru15@gmail.com</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Cell: 860-796-5618; </span></p>
            </div>
            <div class="badge badge-dark px-3 rounded-pill font-weight-normal text-white">REAL ESTATE</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/bogdan.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">BOGDAN ȘTEFANIDE, REALTOR</a></h5>
            <p class="small text-muted mb-0">bstefanide@kw.com</p>
            <p class="small text-muted mb-0"> 2777 Summer St, Suite 700 Stamford, CT 06905</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">203-450-9190</span></p>
            </div>
            <div class="badge badge-dark px-3 rounded-pill font-weight-normal text-white">REAL ESTATE</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/zichila.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>
            <p class="small text-muted mb-0"></p>
            <p class="small text-muted mb-0"></p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"></span></p>
            </div>
            <div class="badge badge-dark px-3 rounded-pill font-weight-normal text-white">REAL ESTATE</div>
          </div>
        </div>
      </div>
      <!-- End -->


    <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/fc-transylvania.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark"></a></h5>
            <p class="small text-muted mb-0"></p>
            <p class="small text-muted mb-0"></p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"></span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: indigo;">SPORTS & FITNESS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/Screenshot_2020-11-26-Saugatuck-Rowing-Fitness-Club-Athletic-Club-in-Westport-CT.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark"></a></h5>
            <p class="small text-muted mb-0"></p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"></span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: indigo;">SPORTS & FITNESS</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">HOLY TRANSFIGURATION ROMANIAN ORTHODOX CHURCH</a></h5>
            <p class="small text-muted mb-0">Father Daniel Moldovan (860) 529-7747 mold_dany@sbcglobal.net</p>
            <p class="small text-muted mb-0">Council President Constantin Dobrita (860) 382-8804</p>
            <p class="small text-muted mb-0">Secretary E-mail: holytransfigurationct@gmail.com</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Saturday: By appointment, Sunday: 9:00am – 11:00am</span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: lightsalmon;">ROMANIAN CHURCHES IN CONNECTICUT</div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://romanulonline.org/wp-content/uploads/2020/11/hbroc.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">HOLY BRANCOVEANU MARTYRS ROMANIAN ORTHODOX CHURCH</a></h5>
            <p class="small text-muted mb-0">bstefanide@kw.com</p>
            <p class="small text-muted mb-0"> Divine Liturgy Sunday 10 AM</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">www.stbrancoveni.com</span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: lightsalmon;">ROMANIAN CHURCHES IN CONNECTICUT</div>
          </div>
        </div>
      </div>
      <!-- End -->

<% @services.each do |service| %>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="<%= service.service_ad_image_link %>" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark"><%= service.service_title %></a></h5>
            <p class="small text-muted mb-0"><%= service.service_owner %></p>
            <p class="small text-muted mb-0"><%= service.service_address %></p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold"><%= service.service_contact %></span></p>
            </div>
            <div class="badge px-3 rounded-pill font-weight-normal text-white" style="background-color: lightsalmon;"><%= service.service_type %></div>
          </div>
        </div>
      </div>
<%end%>

      <div class="jumbotron" style="padding:30px; background-color: white; height: auto; width: auto;">
      <h5> <a href="#" class="text-dark"> JOB OFFERING & HELP NEEDED</a></h5>
      <p class="small text-muted mb-0">Yale University – Postgraduate position in the Department of Internal Medicine (Section of Pulmonary, Critical Care and Sleep Medicine)
Contact: Radu Radulescu, radu.radulescu@yale.edu, 203-361-4037
Open Position: Postgraduate Associate
A position is available for a full-time trainee (Postgraduate Research Associate) in Dr. Klar Yaggi’s lab for Pulmonary and Sleep Medicine research. This is a full-time, paid position with insurance benefits, available for start immediately.
Under the supervision of Drs. Yaggi and Zinchuk, and Senior Trial Coordinator, the post-graduate research candidate will train to work as an assistant research team member, participate in the planning, start-up, implementation, and data analysis for several multifaceted research projects. Example projects include evaluating drug therapies for sleep apnea and personalizing treatments.
Qualifications include a Bachelor Degree in a related discipline. Prior experience in a research is preferred, but not required. The position is for 1 year (extendable to 2 years). This is an ideal position for an enthusiastic, self-motivated and reliable candidate with interest in Pulmonary and Sleep research.
Interested applicants should send a resume with cover letter to Carol Barfield, HR Associate (carol.barfield@yale.edu).
Yale University is an Affirmative Action/Equal Opportunity employer. Yale values diversity among its students, staff, and faculty and strongly welcomes applications from women, persons with disabilities, protected veterans, and underrepresented minorities.</p>
      </div>

    <br>
    </div>
    <div class="py-5 text-left">HOW TO PROMOTE MY SERVICE?</div>

    <div class="jumbotron" style="padding:30px; background-color: white; height: auto; width: auto;">
    <p>You can email us at info@theromanian.org or you can use our regular contact page https://romanulonline.org/contact/ or via FB at https://www.facebook.com/romanulonline. </p>
    <a class="buttonfx slideleft bouncein" href="https://docs.google.com/forms/d/1d-3a1-D1PmQt9rAS2ibPl36kHss-oiZJYlB3AMhrKrA/viewform?gxids=7757&edit_requested=true">Fill Out This Form On Google Docs</a>
    </div>
    <br>
    <div class="jumbotron" style="padding:30px; background-color: white; height: auto; width: auto;">
    <p>Disclaimer: Romanul Corp only intermediates the communication between the parts and it offers this promotion service to the whole Romanian American community. Romanul Corp is not responsible for the contents of the promotion messages and does not offer any warranty regarding the quality or the outcome of the service.</p>
    </div>


    <style>
    body {
  background: #f4f4f4;
}

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}
    
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <%# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>  %>
  <%# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   


<% if admin_signed_in?%>
<p id="notice"><%= notice %></p>
<div class="jumbotron">
<h1>Services</h1>
<br>
<table style="display: inline-block;" width="auto" border="1"
cellpadding="6">
  <thead>
    <tr>
      <th>Service title</th>
      <th>Service contact</th>
      <th>Service type</th>
      <th>Service address</th>
      <th>Service owner</th>
      <th>Service ad image link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.service_title %></td>
        <td><%= service.service_contact %></td>
        <td><%= service.service_type %></td>
        <td><%= service.service_address %></td>
        <td><%= service.service_owner %></td>
        <td><%= service.service_ad_image_link %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
</div>
<%end%>

