<p id="notice"><%= notice %></p>

<p>
  <strong>Bulletin:</strong>
  <%= @school_bulletin.bulletin %>
</p>

<p>
  <strong>Heading registration:</strong>
  <%= @school_bulletin.heading_registration %>
</p>

<p>
  <strong>Text registration:</strong>
  <%= @school_bulletin.text_registration %>
</p>

<p>
  <strong>New student reg link:</strong>
  <%= @school_bulletin.new_student_reg_link %>
</p>

<p>
  <strong>New student reg btn text:</strong>
  <%= @school_bulletin.new_student_reg_btn_text %>
</p>

<p>
  <strong>Cont student reg link:</strong>
  <%= @school_bulletin.cont_student_reg_link %>
</p>

<p>
  <strong>Cont student reg btn text:</strong>
  <%= @school_bulletin.cont_student_reg_btn_text %>
</p>

<p>
  <strong>Beginners heading:</strong>
  <%= @school_bulletin.beginners_heading %>
</p>

<p>
  <strong>Beginners subheading:</strong>
  <%= @school_bulletin.beginners_subheading %>
</p>

<p>
  <strong>Beginners text:</strong>
  <%= @school_bulletin.beginners_text %>
</p>

<p>
  <strong>Beginners reg link:</strong>
  <%= @school_bulletin.beginners_reg_link %>
</p>

<p>
  <strong>Beginners reg btn text:</strong>
  <%= @school_bulletin.beginners_reg_btn_text %>
</p>

<p>
  <strong>Adults heading:</strong>
  <%= @school_bulletin.adults_heading %>
</p>

<p>
  <strong>Adults subheading:</strong>
  <%= @school_bulletin.adults_subheading %>
</p>

<p>
  <strong>Adults text:</strong>
  <%= @school_bulletin.adults_text %>
</p>

<p>
  <strong>Adults reg link:</strong>
  <%= @school_bulletin.adults_reg_link %>
</p>

<p>
  <strong>Adults reg btn text:</strong>
  <%= @school_bulletin.adults_reg_btn_text %>
</p>

<p>
  <strong>Classes offered text:</strong>
  <%= @school_bulletin.classes_offered_text %>
</p>

<p>
  <strong>Classes offered notice:</strong>
  <%= @school_bulletin.classes_offered_notice %>
</p>

<p>
  <strong>Prev classes text:</strong>
  <%= @school_bulletin.prev_classes_text %>
</p>

<p>
  <strong>Image1 link:</strong>
  <%= @school_bulletin.image1_link %>
</p>

<p>
  <strong>Image2 link:</strong>
  <%= @school_bulletin.image2_link %>
</p>

<p>
  <strong>Image3 link:</strong>
  <%= @school_bulletin.image3_link %>
</p>

<p>
  <strong>Image4 link:</strong>
  <%= @school_bulletin.image4_link %>
</p>

<p>
  <strong>Image5 link:</strong>
  <%= @school_bulletin.image5_link %>
</p>

<p>
  <strong>Image6 link:</strong>
  <%= @school_bulletin.image6_link %>
</p>

<p>
  <strong>Image7 link:</strong>
  <%= @school_bulletin.image7_link %>
</p>

<p>
  <strong>Image8 link:</strong>
  <%= @school_bulletin.image8_link %>
</p>

<%= link_to 'Edit', edit_school_bulletin_path(@school_bulletin) %> |
<%= link_to 'Back', school_bulletins_path %>
