

<div class="headerimage">

<div>
<div class="row">
<div class="col-md-6">
<button class="btn btn-primary bt-lg">Donatii Astazi</button>
</div>
<div class="col-md-6">
<button class="btn btn-secondary bt-lg">Visitati Facebook</button>
</div>
</div>
</div>


<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <%= link_to image_tag("romanul-removebg-preview.png", alt: "logo", height: 90, width: 90), root_path, class:"images" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "Școala ȋn limba romȃnă", home_scoalaromana_path, class:"btn" %>
      </li>

      <li class="nav-item">
      <%# <div class="btn-group"> %>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <%= link_to "Despre Noi", home_desprenoi_path, class:"btn" %>
        <button class="badge badge-pill badge-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <%= link_to "MISIUNE ȘI OBIECTIVE", home_misiuni_path, class:"dropdown-item" %>
          <%= link_to "REGULAMENT DE FUNCȚIONARE", home_regulamente_path, class:"dropdown-item" %>
          <%= link_to "CONSILIUL DE ADMINISTRAŢIE", home_consiliul_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%# <a class="dropdown-item" href="#">ÎNSCRIERE ȘI COTIZAȚIA ANUALĂ</a> %>
          <%= link_to "ÎNSCRIERE ȘI COTIZAȚIA ANUALĂ", home_inscriere_path, class:"dropdown-item"%>
        </div> 
        
        </div>
        <%# </div> %>
      </li>

      <li class="nav-item">
      <%# <div class="btn-group"> %>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <%= link_to "Eventimente", home_evenimente_path, class:"btn" %>
        <button class="badge badge-pill badge-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    <span class="sr-only">Toggle Dropdown</span>
  </button>
        <div class="dropdown-menu" style="color: #FFFF00;">
          <a class="dropdown-item" href="#">SERVICI ȘI AFACERI</a>
          <a class="dropdown-item" href="#">SONDAJE DE OPINIEE</a>
          <%= link_to "REZERVARE LOCURI", home_reservare_path, class:"dropdown-item"%>
        </div> 
        <%# </div> %>

        </div>
      </li>

      <li class="nav-item">
        <%= link_to "Donaţii", home_donatii_path, class:"btn" %>
      </li>

      <li class="nav-item">
        <%= link_to "Contact", home_contact_path, class:"btn" %>
      </li>

    </ul>
    <%# <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> %>
  </div>
</nav>

</div>
  
  <style>
  .navbar{
  /* The image used */
  /* background-image: url("https://romanulonline.org/wp-content/uploads/2020/11/hartford-ct.jpg"); */

  background-color: #002b7f;
  min-height: 125px;
  color: #fcd116;
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: center; */

  /* Needed to position the navbar */
  /* position: fixed; */
  min-width: 1000px;
}

.navbar ul {
    margin-left: auto;
    margin-right: auto;
}

 .btn{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    
}

.btn:hover{
  font-size: 19.5px;
  color: #fcd116;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
  font-weight:bold;
  float: left;
}

.navbar-brand  {
  color:#000000
}

.navbar-brand:hover{
  color:#fcd116
}

.badge{
  /* width: 100%;
  height: 100%; */
  font-size: 18px;
  color: #fcd116;
  font-weight: bold;
  /* box-sizing: border-box; */
  display: inline;
  position: static;
    
}

.dropdown-lead{
    /* width: 80%; */
    
}
.dropdown-toggle{
    /* width: 20%; */
    /* float: right; */
    box-sizing: border-box;
    display: inline;
    color: #FFFFFF; !important
    width: 20%; !important
    height: 20%; !important
    border: none; !important
    
}

.navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.badge-pill{
background-color: transparent;
cursor: pointer;


}

.badge-pill:hover{
  color: #fcd116;
}

.navbar-toggler-icon{
  color: #fcd116;
}
  </style>


