<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="commandsapp\app\assets\stylesheets\inscriere.css">

</head>
<br>
<%# <div class="jumbotron" style="max-height: 440px; padding:30px; background-color: #002b7f; color: #FFFFFF;">
<h1 class="display-3" id="heading">ÎNSCRIERE ȘI COTIZAȚIA ANUALĂ<h1>
</div> %>
<body style="font-family: 'Cormorant Garamond', serif;">
<div class="row py-5" id="sectiontop">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner" style="background-color: #002b7f;">
          <h1 class="display-4">ÎNSCRIERE ȘI COTIZAȚIA ANUALĂ</h1>
          <p class="lead">Select a category from the list below</p>
          </p>
        </div>
      </div>
    </div>

<div class="mainPanel">
<%= form_for Member.new do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control', required: 'true' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control', required: 'true' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control', required: 'true' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control', required: 'true' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', required: 'true' %>
  </div>
  <div class="form-group">
    <%= f.label :senior %>
    <%= f.text_field :senior, class: 'form-control', required: 'true' %>
  </div>
  <div class="form-group">
    <%= f.label :student %>
    <%= f.text_field :student, class: 'form-control', required: 'true' %>
  </div>
  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, class: 'form-control', required: 'true' %>
  </div>
  <%= f.submit 'Start Membership', class: 'buttonfx slideleft bouncein' %>
<% end %>

</div>

<br>

<div class="mainPanel">
<p>Plata cotizației anuale se poate efectua cu orice tip de credit sau debit card, prin serviciul bancar securizat <em>PayPal</em>: selectați mai jos valoarea corespunzătoare, introduceţi numele dumneavoastră, apoi apăsați ”<strong>Pay Now</strong>”. Puteți plăti prin metoda "<em>PayPal Guest Checkout</em>" dacă nu aveți cont <em>PayPal</em>.<br />Cotizațiile membrilor organizației sunt scutite de taxe (<em>tax deductible</em>).</p>
<!-- /wp:paragraph -->

<!-- wp:html --><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick" /> <input name="hosted_button_id" type="hidden" value="2RHHT42C5SQKW" />
<table>
<tbody>
<tr>
<td><input name="on0" type="hidden" value="Cotizatia anuala/ Membership Due" />Cotizatia anuala/ Membership Due</td>
</tr>
<tr>
<td><select name="os0">
<option value="Individual">Individual $50.00 USD</option>
<option value="Student (up to 25 yo)">Student (up to 25 yo) $25.00 USD</option>
<option value="Senior (at least 60 yo)">Senior (at least 60 yo) $25.00 USD</option>
</select></td>
</tr>
<tr>
<td><input name="on1" type="hidden" value="Numele dvs." />Numele dvs.</td>
</tr>
<tr>
<td><input maxlength="200" name="os1" type="text" /></td>
</tr>
</tbody>
</table>
<br>
<input name="currency_code" type="hidden" value="USD" /> <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" type="image" /> <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0"></form><!-- /wp:html -->

<!-- wp:paragraph -->
<p>&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:html --><hr style="border-color: #4682b4;" /><!-- /wp:html -->

<!-- wp:paragraph {"align":"center"} -->
<p style="text-align: center;"><strong>Pentru a deveni membri cu drept de vot în cadrul organizației, vă rugăm să completați <a href="#sectiontop">formularul de înscriere</a>.</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Pentru a plăti cotizația anuală prin check, completați un check pentru ”<em>Românul Corp.</em>” ($25 pentru studenți până la 25 de ani, $25 pentru seniori de la 60 de ani, sau $50 - cotizația individuală pentru restul cazurilor), și trimiteți-l la adresa: <strong>Românul Corp, P.O. Box 1483, Fairfield, CT 06825</strong><br />Vă mulțumim !</p>
</div>
<br><br>
</body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <%# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>  %>
  <%# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   